body{
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.MainPage{
  display: flex;
}
.ContactLink{
  display: block;
  
  width: 90%;
  height: auto;
  padding: 10px 0 10px;
  border-radius: 10px;
  
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(110,110,110);
  word-wrap: wrap;

  transition: all ease-in-out 0.2s;
  cursor: pointer;
  overflow-x: none;
}

.ContactLink:last-child{
  margin: 0;
}
.ContactLink:hover{
  color: black;
}